.dub
docs.json
__dummy.html
commandr-plus.so
commandr-plus.dylib
commandr-plus.dll
commandr-plus.a
commandr-plus.lib
commandr-plus-test-*
*.exe
*.o
*.obj
*.lst
/commandr
source/app.d
libcommandr-plus.a
*.sw[npo]
